.album {
  @apply flex overflow-hidden max-w-lg h-full;
  scrollbar-width: none;
}

.thumb:not(.selected) > span {
  @apply after:content-[""] after:absolute after:w-full after:h-full after:top-0 after:left-0 after:border-4 after:border-secondary after:rounded-lg;
}

.thumb:not(.selected):hover > span > img {
  @apply scale-110 contrast-100 transition;
}

.selected {
  @apply p-1 bg-[linear-gradient(to_bottom_right,#dc2626_0%,#d97706_25%,#16a34a_50%,#2563eb_75%,#9333ea_100%)];
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.selected > span {
  @apply rounded-lg overflow-hidden after:content-[""] after:absolute after:w-full after:h-full after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2 after:border-0 after:rounded-lg after:shadow-[inset_0px_0px_15px_5px_rgba(0,0,0,.75)] border-0;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.selected:hover > span > img {
  @apply scale-110 transition overflow-hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.album::-webkit-scrollbar {
  display: none;
}

/* after:shadow-[inset_0px_0px_15px_5px_rgba(0,0,0,.75)] border-0 bg-[linear-gradient(to_bottom_right,#dc2626_0%,#d97706_25%,#16a34a_50%,#2563eb_75%,#9333ea_100%)] */
