.control {
  @apply bg-brand-secondary absolute bottom-10 right-10 flex flex-row
  rounded-lg text-primary z-30 shadow-md select-none overflow-hidden border-2 border-secondary;
  height: 48px;
}

.leftControl,
.rightControl {
  @apply px-9 cursor-pointer;
  transition: background-color 0.2s ease;
}

.leftControl:hover,
.rightControl:hover {
  @apply bg-brand-secondary-dark;
}

.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.rightControl {
  @apply border-l-2 border-secondary;
}

.leftControl {
  margin-right: -1px;
}
